:root {
  --green: limegreen;
  --red: red;
  --white: white;
  --black: black;
  --main-blue: #428fda;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-between {
  width: 100%;
  justify-content: space-between;
}

.gap-5px {
  gap: 5px;
}

.gap-10px {
  gap: 10px;
}

.v-input {
  width: 150px;
}

.v-select {
  width: 100px;
}

.text-lg {
  font-size: 16px;
}

@media (max-width: 600px) {
  .v-input {
    font-size: 20px;
  }

  .v-select {
    width: 100px;
    font-size: 20px;
  }

  .v-btn.v-btn--has-bg {
    color: white;
  }
}