:root {
  --green: limegreen;
  --red: red;
  --white: white;
  --black: black;
}

.flex-center {
  align-items: center;
  justify-content: center;
}

.flex-between {
  width: 100%;
  justify-content: space-between;
}

.gap-5px {
  gap: 5px;
}

.gap-10px {
  gap: 10px;
}
