@import '_variables';

.v-input {
  width: 150px;
  @media (max-width: 600px) {
    font-size: $l;
  }
}
.v-select {
  width: 100px;
  @media (max-width: 600px) {
    width: 100px;
    font-size: $l;
  }
}

